.StartButton {
    background-color: white;
    transition: background-color 0.2s ease;
}

.StartButton:hover {
    background-color: gray;
}

.StartButton:active {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 48px;
    align-self: center;
    justify-content: center;
}
